<footer class="pt-5 pb-3 mt-5 bg-light border-top">
  <div class="container">
      <div class="row">
        <div class="col-md-5 mb-3">
          <h5>Cocktail Profi 🍸</h5>
          <p class="text-muted small">
              Интерактивный справочник бармена. 
              Учебный проект, разработанный на Django. 
              Все рецепты взяты из открытых источников.
          </p>
        </div>
        <div class="col-md-3 mb-3">
          <h5>Разделы</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="{% url 'catalog:home' %}" class="nav-link p-0 text-muted">Главная</a>
            </li>
            <li class="nav-item mb-2">
              <a href="{% url 'catalog:categories_list' %}" class="nav-link p-0 text-muted">Категории</a>
            </li>
            <li class="nav-item mb-2">
              <a href="{% url 'bar:index' %}" class="nav-link p-0 text-muted">Мой бар</a>
            </li>
            <li class="nav-item mb-2">
              <a href="{% url 'catalog:favorite' %}" class="nav-link p-0 text-muted">Избранное</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 mb-3">
          <h5>Разработчик</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <span class="text-muted">Студент: Власова Софья</span>
            </li>
            <li class="nav-item mb-2">
              <a href="https://github.com/sonixks/cocktail-profi" target="_blank" class="nav-link p-0 text-primary">
                GitHub Репозиторий
              </a>
            </li>
          </ul>
        </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-center py-4 my-4 border-top">
      <p class="text-danger fw-bold text-uppercase text-center" style="letter-spacing: 1px;">
        Чрезмерное употребление алкоголя вредит вашему здоровью (18+)
      </p>
    </div>
  </div>
</footer>