{% load static %}
<header class="p-3 bg-white border-bottom shadow-sm">
  <div class="container">
    <div class="d-flex justify-content-lg-start align-items-center">
      <a href="{% url 'catalog:home' %}" class="text-dark text-decoration-none me-4">
        <span class="fs-4 fw-bold">
          <img src="{% static 'img/favicon_32x32.svg' %}">
          Cocktail Profi
        </span>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'catalog:home' %}" class="nav-link px-2 link-dark">Главная</a></li>
        <li><a href="{% url 'catalog:categories_list' %}" class="nav-link px-2 link-dark">Категории</a></li>
        <li><a href="{% url 'bar:index' %}" class="nav-link px-2 link-dark">Мой бар</a></li>
        <li><a href="{% url 'catalog:favorite' %}" class="nav-link px-2 link-dark">Избранное</a></li>
      </ul>
      <div class="text-end">
        {% if user.is_authenticated %}
          <span class="me-3 text-muted">Привет, <b>{{ user.username }}</b>!</span>
          <form action="{% url 'users:logout' %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-sm">Выход</button>
          </form>
        {% else %}
          <a href="{% url 'users:login' %}" class="btn btn-outline-primary me-2">Вход</a>
          <a href="{% url 'users:signup' %}" class="btn btn-primary">Регистрация</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>