{% extends "base.html" %}
{% block title %}{{ cocktail.name }}{% endblock title %}
{% block content %}
<div class="container">
  <div class="row justify-content-around">
    <div class="col-4">
      <h2>{{ cocktail.name }}</h2>
      <p>{{cocktail.instruction_ru}}</p>
      <ul>
        {% for ingredient in cocktail.cocktailingredient_set.all %}
          <li>{{ ingredient.ingredient.name_ru }}
            {% if ingredient.amount %}
              — <b>{{ ingredient.amount }}</b>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      {% if user.is_authenticated %}
        <a href="{% url 'catalog:toggle_like_cocktail' cocktail.id %}" 
          class="btn {% if cocktail.id in favorite_cocktails %}btn-danger{% else %}btn-outline-danger{% endif %} text-nowrap">
          {% if cocktail.id in favorite_cocktails %}
            В избранном
          {% else %}
            В избранное
          {% endif %}
        </a>
      {% endif %}
    </div>
    <div class="col-4">
      <img src={{ cocktail.image_url }} height='400' width='400'>
    </div>
  </div>
</div>
{% endblock content %}