{% extends "base.html" %}
{% block title %}{{ cocktail.name }}{% endblock title %}
{% block content %}
<div class="container">
  <div class="row justify-content-around">
    <div class="col-4">
      <h2>{{ cocktail.name }}</h2>
      <p>{{cocktail.instruction_ru}}</p>
      <ul>
        {% for ingredient in cocktail.cocktailingredient_set.all %}
          <li>{{ ingredient.ingredient.name_ru }}
            {% if ingredient.amount %}
              — <b>{{ ingredient.amount }}</b>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-4">
      <img src={{ cocktail.image_url }} height='400' width='400'>
    </div>
  </div>
</div>
{% endblock content %}